<div class="example-container-wrapper">
  <div class="example-container">
    <h2>Fields</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.text }}
      </div>
    </div>
  </div>
  <div class="example-container2">
    <!-- <h2>Done</h2> -->

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      class="example-list2 done-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngIf="done.length === 0" class="placeholder">Drag items here</div>

      <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
        <mat-icon>{{ item.icon }}</mat-icon>
        <!-- Show the icon here -->
        {{ item.label }}
        <input
          [formControl]="item.formControl"
          placeholder="Enter details"
          class="form-input"
        />
      </div>
    </div>
  </div>
</div>
